/* Importing Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Eliminate the default browser settings and set the box-sizing as border-box */
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* CSS variables */
    /* Colors */
    --color-links: rgb(177, 78, 78);
    --color-links-background: rgb(177, 78, 78, 0.2);
    /* Size */
    --defaultMargin: 6vh auto;
    --defaultWidth: 60%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    width: var(--defaultWidth);
    margin: var(--defaultMargin);
    display: flex;
    justify-content: space-between;
}

header .logoContainer {
    width: 10%;
}

header .logoContainer img {
    width: 100%;
}

header .linksContainer {
    flex: 1;
    padding: 0 20%;
}

header .linksContainer a {
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 10%;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: border 500ms;
}

header .linksContainer a:hover {
    border: 2px solid var(--color-links);
    background-color: var(--color-links-background);
    border-radius: 8px;
    color: var(--color-links);
}

header .linksContainer a#active {
    border: 2px solid white;
    background-color: var(--color-links-background);
    border-radius: 8px;
    font-weight: bold;
    color: var(--color-links);
    cursor: not-allowed;
}

/* Footer */
footer {
    background-color: #EEEEEE;
    text-align: center;
    padding: 2vw;
    color: #999999;
    font-size: 14px;
}