{% extends "admin/form.njk" %}

{% block formTitle %}
    Criando receita
{% endblock formTitle %}

{% block additionalButtons %}
    <span style="visibility: hidden">Just to fill space...</span>
{% endblock additionalButtons %}