{% extends "admin/layout.njk" %}

{% block additionalStyles %}
    <link rel="stylesheet" href="/styles/editRecipe.css" />
    <link 
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" 
    />
{% endblock additionalStyles %}

{% block content %}
        <div class="formHeaderAndButtons">
            <h3> 
                {% block formTitle %}
                {% endblock formTitle %} 
            </h3>
            {% block additionalButtonsContainer %}
            {% endblock additionalButtonsContainer %}
        </div>
        <form method="POST" id="editRecipe">
            <div class="recipeUrlContainer">
                <label for="recipeImage"> Imagem da receita </label>
                <input type="url" name="recipeImage"/>
            </div>
            <div class="recipeIngredientsContainer">
                <label for="recipeIngredient"> Ingredientes </label>
                <div class="inputAndCloseButtonContainer">
                    <input 
                        class="ingredient" 
                        type="text" 
                        name="recipeIngredient[]" 
                        placeholder="Digite o ingrediente aqui"
                    />
                    <span class="material-icons">highlight_off</span>
                </div>
                
                <div class="buttonContainer">
                    <button form="" onclick="addItem('recipeIngredientsContainer')"> Adicionar novo ingrediente </button>
                </div>
            </div>
            <div class="recipePreparationContainer">
                <label for="recipePreparation"> Modo de preparo </label>
                <div class="inputAndCloseButtonContainer">
                    <input
                        class="preparation" 
                        type="text" 
                        name="recipePreparation[]"
                        placeholder="Digite o passo do modo de preparo..."
                    />
                    <span class="material-icons">highlight_off</span>
                </div>
                <div class="buttonContainer">
                    <button form="" onclick="addItem('recipePreparationContainer')"> Adicionar novo passo </button>
                </div>
            </div>
            <div class="additionalInformationContainer">
                <label for="additionalInformation"> Informações adicionais </label>
                <textarea type="text" name="additionalInformation"></textarea>
            </div>
        </form>
        <script src="/scripts/dynamicRecipe.js"></script>
{% endblock content %}