{% extends "admin/layout.njk" %}

{% block additionalStyles %}

    <link rel="stylesheet" href="/styles/recipeStyles.css" />
    
{% endblock additionalStyles %}

{% block content %}

    <div class="recipeNameAndEditionContainer">
        <h2> Receita: {{recipe.title}} </h2>
        <a href="/admin/recipes/{{id}}/edit"> Editar receita </a>
    </div>

    <div class="recipeImageContainer">
        <img src="{{recipe.image}}" alt="Image of {{recipe.title}}" class="recipe" />
    </div>

    <div class="titleAndAuthorContainer">
        <h2 class="recipeTitle"> {{ recipe.title }} </h2>
        <h3 class="recipeAuthor"> por {{recipe.author}} </h3>
    </div>

    <div class="ingredientsContainer">
        <div class="ingredientsTitleContainer">  
            <h3> Ingredientes </h3>   
        </div>
        <ul id="ingredients" class="adminIngredients">

            {% for ingredient in recipe.ingredients %}

                <li> - {{ ingredient }} </li>

            {% endfor %}

        </ul>
    </div>

    <div class="preparationContainer">

        <div class="preparationTitleContainer"> 

            <h3> Modo de preparo</h3>

        </div>

        <ul id="preparation" class="adminPreparation">

            {% for preparationItem in recipe.preparation %}

                <li> - {{ preparationItem }} </li>

            {% endfor %}

        </ul>

    </div>

    {% if recipe.information !== "" %}
        
        <div class="additionalInformationContainer">

            <div class="additionalInformationTitleContainer">

                <h3> Informações adicionais</h3>

            </div>

            <div id="informationContainer">

                <p> {{ recipe.information }} </p>

            </div>

        </div>

    {% endif %}
    
    <script src="/scripts/recipeScripts.js"></script>

{% endblock content %}