{% extends "visitor/layout.njk" %}

{% block additionalStyles %}

    <link rel="stylesheet" href="/landingStyles.css" />

{% endblock additionalStyles %}

{% block links %}

    <a href="/about">Sobre</a>

    <a href="" id="active">Receitas</a>

{% endblock links %}

{% block content %}

    <section>

        <h3>Receitas</h3>

        <div class="displayRecipes">
            
            {% for recipe in recipes %}

                <div class="recipe">

                    <span class="notDisplay"> {{ loop.index0 }} </span>

                    <div class="imgContainer">

                        <img src="{{recipe.image}}" alt="Image of {{recipe.title}}" />

                    </div>

                    <div class="recipeDescription">

                        <h4 class="recipeTitle"> {{ recipe.title }} </h4>

                        <p class="recipeOwner"> por {{ recipe.author }} </p>

                    </div>

                </div>

            {% endfor %}

            {% for recipe in recipes %}

                <div class="recipe">

                    <span class="notDisplay"> {{ loop.index0 }} </span>

                    <div class="imgContainer">

                        <img src="{{recipe.image}}" alt="Image of {{recipe.title}}" />

                    </div>

                    <div class="recipeDescription">

                        <h4 class="recipeTitle"> {{ recipe.title }} </h4>

                        <p class="recipeOwner"> por {{ recipe.author }} </p>

                    </div>

                </div>

            {% endfor %}

        </div>
        
    </section>
    
{% endblock content %}
    