header {
    background-color: black;
    margin: 0;
    width: 100%;
    padding: 2.4% 16.5%;
}

section .displayRecipes {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

section .displayRecipes .adminRecipe {
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 20px;
    cursor: auto;
    border: none;
    height: 110px;
}

section .displayRecipes .adminRecipe:hover {
    background: none;
    border: none;
}

section .displayRecipes .adminRecipe .imgContainer {
    height: 80px;
    border-radius: 8.57px;
}

section .displayRecipes .adminRecipe .recipeDescription .recipeTitle {
    margin-bottom: 5px;
}

section .displayRecipes .adminRecipe .recipeDescription .recipeOwner {
    margin-bottom: 10px;
}

section .displayRecipes .adminRecipe .recipeDescription .viewRecipe {
    text-decoration: none;
    color: #6558C3;
    font-size: 14px;
    transition: color 300ms;
}

section .displayRecipes .adminRecipe .recipeDescription .viewRecipe:hover {
    color: rgb(255, 0, 106);
}