.formHeaderAndButtons,
#editRecipe {
    margin: var(--defaultMargin);
    width: var(--defaultWidth);
}

.formHeaderAndButtons {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px 0px;
    align-items: center;
}

.formHeaderAndButtons .buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.formHeaderAndButtons .buttonsContainer .delete,
.formHeaderAndButtons .buttonsContainer .edit {
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 300ms;
    outline: none;
}

.formHeaderAndButtons .buttonsContainer .delete {
    background-color: #DC4747;
}

.formHeaderAndButtons .buttonsContainer .edit {
    background-color: var(--default-button-color);
}

.formHeaderAndButtons .buttonsContainer .delete:hover {
    background-color: red;
}

.formHeaderAndButtons .buttonsContainer .edit:hover {
    background-color: #5024b8;
}

.formHeaderAndButtons .buttonsContainer .edit:active {
    background-color: rgb(32, 148, 202);
}

.formHeaderAndButtons .buttonsContainer .delete:active{
    background-color: black;
}

.recipeUrlContainer,
.recipeIngredientsContainer,
.recipePreparationContainer,
.additionalInformationContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

.recipeIngredientsContainer .buttonContainer button,
.recipePreparationContainer .buttonContainer button {
    color: var(--default-button-color);
    cursor: pointer;
    background: none;
    padding: 5px;
    font-size: 16px;
    transition: color 300ms;
    outline: none;
}

.recipeIngredientsContainer .buttonContainer button:hover,
.recipePreparationContainer .buttonContainer button:hover {
    color: #3f24b8;
}

input, textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    padding: 10px 10px;
    outline: none;
    transition: border 100ms;
    font-size: 15px;
}

textarea {
    height: 257px;
}

input:focus, textarea:focus {
    border: 2px solid rgb(100, 48, 48);
}