.recipeNameAndEditionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeImageContainer,
.preparationContainer,
.ingredientsContainer,
.additionalInformationContainer,
.recipeNameAndEditionContainer {

    width: var(--defaultWidth);
    
    margin: var(--defaultMargin);

}

.recipeNameAndEditionContainer a {
    text-decoration: none;
    background-color: #6558C3;
    color: white;
    padding: 10px 18px;
    border-radius: 4px;
    transition: background-color 300ms;
}

.recipeNameAndEditionContainer a:hover {
    background-color: rgb(255, 0, 106);
}

.recipeNameAndEditionContainer a:active {
    background-color: rgb(255, 0, 0);
}

.recipeImageContainer img {

    width: 100%;

    height: 100%;

    border-radius: 15px;

}

.titleAndAuthorContainer {

    width: var(--defaultWidth);

    margin: 50px auto 0;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    align-items: center;

}

.titleAndAuthorContainer .recipeTitle {

    font-size: 4vw;

    color: #111111;

}

.titleAndAuthorContainer .recipeAuthor {

    font-size: 2vw;

    color: #777777;

}

.ingredientsContainer .ingredientsTitleContainer,
.preparationContainer .preparationTitleContainer,
.additionalInformationContainer .additionalInformationTitleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

button {

    margin-left: 40px;

    padding: 1vw;

    border-radius: 10px;

    outline: none;

    transition: background-color 400ms, color 400ms;

}

button.hide:hover {

    cursor: pointer;

    background-color: rgb(163, 64, 61);

    color: white;

}

button.show:hover {

    cursor: pointer;

    background-color: rgb(64, 177, 143);

    color: white;

}

.ingredientsContainer #ingredients,
.preparationContainer #preparation {
    /* To make the list markers be inside the ul element */
    list-style-position: inside;
}

.ingredientsContainer #ingredients.adminIngredients,
.preparationContainer #preparation.adminPreparation {
    list-style-type: none;
}

.ingredientsContainer #ingredients li,
.preparationContainer #preparation li,
.additionalInformationContainer #informationContainer p {
    line-height: 26px;
    font-size: 18px;
    margin-top: 5px;
    text-align: justify;
}