<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FoodFy</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

        <!-- Style -->
        <link rel="stylesheet" href="/global/global.css">
        <link rel="stylesheet" href="/landingStyles.css" />
        <link rel="stylesheet" href="/global/globalResponsivity.css" />
    </head>
    <body>
        <header>
            <div class="logoContainer">
                <img src="/assets/logo.png" alt="FoodFy logo" title="FoodFy" />
            </div>

            <div class="linksContainer">
                <a href="/about">Sobre</a>

                <a href="/recipes">Receitas</a>
            </div>
        </header>

        <div class="presentation">
            <div class="textContainer">
                <h2>As melhores receitas</h2>

                <p>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>
            </div>

            <div id="chefContainer">
                <img src="../../assets/chef.png" alt="Chef">
            </div>
        </div>

        <section>
            <h3>Mais acessadas</h3>

            <div class="displayRecipes">

                {% for recipe in recipes %}

                    <div class="recipe">

                        <div class="imgContainer">

                            <img src="{{recipe.imgSrc}}" alt="Image of {{recipe.recipeTitle}}" />

                        </div>

                        <div class="recipeDescription">

                            <h4 class="recipeTitle"> {{ recipe.recipeTitle }} </h4>

                            <p class="recipeOwner"> por {{ recipe.recipeOwner }} </p>

                        </div>

                    </div>

                {% endfor %}
                
                
            </div>
            
        </section>

        <footer>
            Todos os direitos reservados, receitas FoodFy.
        </footer>

        <div class="modalOverlay notDisplay">
            <div class="modal">
                <div class="modalContent">
                    <div class="imgContainer">
                        <img src="" alt="" />
                    </div>

                    <div class="textContainer">
                        <h4 class="recipeTitle"></h4>

                        <p class="recipeOwner"></p>
                    </div>
                </div>

                <div class="closeModal">
                    <button> Fechar </button>
                </div>
            </div>
        </div>

        <script src="/global/global.js"></script>
    </body>
</html>