{% extends "layout.njk" %}

{% block content %}

        <div class="presentation">

            <div class="textContainer">

                <h2>As melhores receitas</h2>

                <p>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>

            </div>

            <div id="chefContainer">

                <img src="../../assets/chef.png" alt="Chef">

            </div>

        </div>

        <section>

            <h3>Mais acessadas</h3>

            <div class="displayRecipes">

                {% for recipe in recipes %}

                    <div class="recipe">

                        <div class="imgContainer">

                            <img src="{{recipe.image}}" alt="Image of {{recipe.title}}" />

                        </div>

                        <div class="recipeDescription">

                            <h4 class="recipeTitle"> {{ recipe.title }} </h4>

                            <p class="recipeOwner"> por {{ recipe.author }} </p>

                        </div>

                    </div>

                {% endfor %}
                
                
            </div>
            
        </section>

{% endblock content %}