<!DOCTYPE html>

<html lang="pt_BR">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>FoodFy</title>

        <!-- Favicon -->

        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

        <!-- Style -->

        <link rel="stylesheet" href="/global/global.css">

        <link rel="stylesheet" href="/landingStyles.css" />

        <link rel="stylesheet" href="/global/globalResponsivity.css" />

    </head>

    <body>
        <header>

            <div class="logoContainer">

                <a href="/">
                
                    <img 
                        src="/assets/logo.png"  
                        alt="FoodFy logo" 
                        title="Home" 
                    />

                </a>  

            </div>

            <div class="linksContainer">

                {% block links %}
                
                    <a href="/about">Sobre</a>

                    <a href="/recipes">Receitas</a>

                {% endblock links %}
                
            </div>

        </header>

        {% block content %}

        {% endblock content %}

        <footer>
            Todos os direitos reservados, receitas FoodFy.
        </footer>

        <script src="/global/global.js"></script>

    </body>

</html>