{% extends "layout.njk" %}

{% block links %}

    <a href="/about">Sobre</a>

    <a href="" id="active">Receitas</a>

{% endblock links %}

{% block content %}

    <section>

        <h3>Receitas</h3>

        <div class="displayRecipes">
            
            {% for recipe in recipes %}

                <div class="recipe">

                    <div class="imgContainer">

                        <img src="{{recipe.imgSrc}}" alt="Image of {{recipe.recipeTitle}}" />

                    </div>

                    <div class="recipeDescription">

                        <h4 class="recipeTitle"> {{ recipe.recipeTitle }} </h4>

                        <p class="recipeOwner"> por {{ recipe.recipeOwner }} </p>

                    </div>

                </div>

            {% endfor %}

            {% for recipe in recipes %}

                <div class="recipe">

                    <div class="imgContainer">

                        <img src="{{recipe.imgSrc}}" alt="Image of {{recipe.recipeTitle}}" />

                    </div>

                    <div class="recipeDescription">

                        <h4 class="recipeTitle"> {{ recipe.recipeTitle }} </h4>

                        <p class="recipeOwner"> por {{ recipe.recipeOwner }} </p>

                    </div>

                </div>

            {% endfor %}

        </div>
        
    </section>
    
{% endblock content %}
    