/* Importing Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Eliminate the default browser settings and set the box-sizing as border-box */
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* CSS variables */
    /* Colors */
    --color-links: rgb(177, 78, 78);
    --color-links-background: rgb(177, 78, 78, 0.2);
    /* Size */
    --defaultMargin: 6vh auto;
    --defaultWidth: 60%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    width: var(--defaultWidth);
    margin: var(--defaultMargin);
    display: flex;
    justify-content: space-between;
}

header .logoContainer {
    width: 10%;
    display: flex;
    align-items: center;
}

header .logoContainer a {
    display: block;
    width: 100%;
}

header .logoContainer img {
    width: 100%;
}

header .linksContainer {
    flex: 1;
    padding: 1% 20%;
    display: flex;
    align-items: center;
}

header .linksContainer a {
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 10%;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: border 500ms;
    font-size: 18px;
}

header .linksContainer a:hover {
    border: 2px solid var(--color-links);
    background-color: var(--color-links-background);
    border-radius: 8px;
    color: var(--color-links);
}

header .linksContainer a#active {
    border: 2px solid white;
    background-color: var(--color-links-background);
    border-radius: 8px;
    font-weight: bold;
    color: var(--color-links);
    cursor: text;
}

/* Recipe section */
section {
    margin: var(--defaultMargin);
    width: var(--defaultWidth);
}

section h3 {
    margin-bottom: 2vh;
}

section .displayRecipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
    gap: 0.5vw;
    width: 100%;
}

section .displayRecipes .recipe {
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: border 500ms;
}

section .displayRecipes .recipe:hover {
    border: 2px solid var(--color-links);
    background-color: var(--color-links-background)
}

section .displayRecipes .recipe .imgContainer {
    width: 100%;
}

section .displayRecipes .recipe .imgContainer img {
    width: 100%;
    border-radius: 8px;
}

section .displayRecipes .recipe .recipeDescription {
    margin-top: 10px;
    padding: 0 2px;
}

section .displayRecipes .recipe .recipeDescription h4 {
    margin-bottom: 5px;
    font-size: 18px;
}

section .displayRecipes .recipe .recipeDescription p{
    font-size: 14px;
    color: #777777;
}

/* Footer */
footer {
    background-color: #EEEEEE;
    text-align: center;
    padding: 2vw;
    color: #999999;
    font-size: 14px;
}

/* Modal */
.modalOverlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalOverlay .modal {
    background-color: white;
    border-radius: 16px;
    padding: 2.1%;
}

.modalOverlay .modal .modalContent {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalOverlay .modal .modalContent .imgContainer {
    width: 95%;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
}

.modalOverlay .modal .modalContent .imgContainer img {
    width: 100%;
    border-radius: 15px;    
}

.modalOverlay .modal .modalContent .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modalOverlay .modal .modalContent .textContainer h4.recipeTitle {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    font-weight: 400;
    margin-bottom: 1.5%;
}

.modalOverlay .modal .modalContent .textContainer p.recipeOwner {
    font-size: 18px;
    line-height: 21px;
    color: #777777;
}

.modalOverlay .modal .closeModal {
    margin-top: 3vh;
    text-align: center;
}

.modalOverlay .modal .closeModal button {
    padding: 10px 20px;
    background-color: #d4a0a0;
    color: #555555;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: color 500ms;
    font-weight: bold;
}

.modalOverlay .modal .closeModal button:hover {
    color: crimson;
    cursor: pointer;
}

.notDisplay {
    display: none;
}
    