/* Presentation */
.presentation {
    width: var(--defaultWidth);
    margin: var(--defaultMargin);
    border-radius: 20px;
    padding: 7vh 5vh;
    background-color: #FBDFDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation .textContainer {
    padding: 2%;
    width: 40%;
}

.presentation .textContainer h2 {
    margin-bottom: 5%; /* */
    font-size: 32px;
    font-weight: bold;
}

.presentation .textContainer p {
    font-size: 18px;
    line-height: 26px;
}

.presentation #chefContainer {
    padding-right: 10%; /* Of the presentation div */
}

.presentation #chefContainer img {
    width: 100%;
}

/* ==== Responsivity ==== */
@media (max-width: 1100px) {
    .presentation .textContainer {
        width: 60%;
    }
    
    .presentation .textContainer h2 {
        font-size: 2.5vw;
    }

    .presentation .textContainer p {
        font-size: 2.2vw;
        line-height: 2.4vw;
        width: 100%;
    }

    .presentation #chefContainer {
        padding-right: 2%;
        width: 40%;
    }
}

@media(min-width: 1440px) {
    .presentation .textContainer {
        width: 60%;
    }
    
    .presentation .textContainer h2 {
        font-size: 2vw;
    }

    .presentation .textContainer p {
        font-size: 1.5vw;
        line-height: 1.8vw;
        width: 100%;
    }

    .presentation #chefContainer {
        padding-right: 2%;
        width: 40%;
    }
}