/* Header */
header {
    width: var(--defaultWidth);
    margin: var(--defaultMargin);
    display: flex;
    justify-content: space-between;
}

header .logoContainer {
    width: 10%;
}

header .logoContainer img {
    width: 100%;
}

header .linksContainer {
    flex: 1;
    padding: 0 20%;
}

header .linksContainer a {
    margin-right: 10%;
    text-decoration: none;
    color: black;
    padding: 10px;
}

header .linksContainer a:hover {
    border-bottom: 2px solid var(--color-links);
    background-color: var(--color-links-background);
    border-radius: 8px;
    color: var(--color-links);
}

/* Presentation */
.presentation {
    width: var(--defaultWidth);
    margin: var(--defaultMargin);
    border-radius: 20px;
    padding: 7vh 5vh;
    background-color: #FBDFDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation .textContainer {
    padding: 2%;
    width: 40%;
}

.presentation .textContainer h2 {
    margin-bottom: 5%; /* */
    font-size: 32px;
    font-weight: bold;
}

.presentation .textContainer p {
    font-size: 18px;
    line-height: 26px;
}

.presentation #chefContainer {
    padding-right: 10%; /* Of the presentation div */
}

/* More accessed section */
section.moreAccessed {
    margin: var(--defaultMargin);
    width: var(--defaultWidth);
}